html{
scroll-behavior:smooth;
-webkit-text-size-adjust:none;
text-size-adjust:none;
background-color:#262626;
}
body{
background-color:#d3d3d3;
color:black;
font-family:Arial,Helvetica,sans-serif;
font-size:1rem;
line-height:1.6;
word-spacing:0.13rem;
margin:0;
}
header,main{margin:0 0.5rem;}
#settings,#title,.courses,.center,.language,#end-of-page{
display:flex;
justify-content:space-evenly;
flex-wrap:wrap;
}
.language{text-decoration:underline;}
.homepage_link,.language{
font-weight:bold;
margin:1.2rem;
}
#settings_box1,#settings_box2,.course_set,.homepage_box{
border:0.1875rem solid #cc0000;
border-radius:10%;
padding:0.3125rem;
margin:0.625rem;
}
.homepage_box{max-width:21rem; text-align:center;}
#settings_box1,#settings_box2{width:15.3rem;}
#settings h2,.course_set h3,#end-of-page h2,.homepage_box h2,.homepage_box h3,.menu-links h2{
border:none;
display:flex;
justify-content:center;
}
#settings button{
width:7rem;
margin:0.3125rem;
}
button{
cursor:pointer;
font-weight:bold;
font-size:0.85rem;
}
.course_set li{padding-right:1.875rem;}
h1,h2,h3,h4,h5,h6{
border:0.19rem solid #cc0000;
display:inline-block;
padding:0.1875rem;
text-align:center;
line-height:1.2;
}
h1{font-size:2rem;}
h2{font-size:1.6rem;}
h3{font-size:1.3rem;}
h4{font-size:1.1rem;}
h5{font-size:1rem;}
h6{font-size:0.9rem;}
nav li h3{all:unset;font-weight:bold;}
#defaultMode{
background-color:lightgray;
color:black;
border:0.1875rem solid #cc0000;
padding:0.5625rem;
border-radius:10%;
}
#lightMode{
background-color:white;
color:black;
border:0.1875rem solid red;
padding:0.5625rem;
border-radius:10%;
}
#darkMode{
background-color:#121212;
color:#E0E0E0;
border:0.1875rem solid #82B1FF;
padding:0.5625rem;
border-radius:10%;
}
#darkMode2{
background-color:black;
color:#00cc00;
border:0.1875rem solid blue;
padding:0.5625rem;
border-radius:10%;
}
#customMode{
border:0.1875rem solid #cc0000;
padding:0.4375rem;
margin:0.3125rem;
border-radius:10%;
font-weight:bold;
line-height:normal;
font-size:0.95rem;
}
a{
text-decoration:none;
color:#9D1B9D;
}
a:hover{text-decoration:underline;}
a:hover#customMode{text-decoration:none;}
li{margin-top:0.3125rem;}
img{
max-width:95%;
border:0.19rem solid #cc0000;
display:block;
margin:0.625rem auto;
}
table{
border-collapse:collapse;
width:fit-content;
}
table,th,td{
border:0.1rem solid #cc0000;
padding:0.625rem;
}
td{font-weight:bold;text-align:center;}
.math-container{
overflow-x:auto;
white-space:nowrap;
width:100%;
padding-bottom:0.625rem;
}
.big{font-size:1.3rem;}
.consolas{font-family:Consolas;font-size:1.13em;letter-spacing:-0.03rem;}
input{font-size:0.9rem;}
pre,code{
font-family:Consolas,monospace;
padding:0.125rem 0.1875rem;
border-radius:0.3125rem;
font-size:1rem;
background-color:black;
color:white;
}
pre{
border:0.125rem solid #cc0000;
padding:0.1875rem;
width:min-content;
}
#programming_course main b{all:unset;color:#FF29FF;}
#programming_course main u{all:unset;color:#82B1FF;}
#programming_course main i{all:unset;color:#00cc00;}
#programming_course main s{all:unset;color:orange;}
#programming_course .b{font-weight:bold;}
#copyButton,#applyCustom,#reset,#submitButton,.generalButton{
background-color:#e9e9ed;
border:0.1875rem solid #cc0000;
border-radius:15%;
color:black;
padding:0.1875rem;
}
#back-to-top,#colorHighlight{
background-color:#262626;
color:#E359E3;
font-weight:bold;
line-height:normal;
max-width:48%;
padding:0.5rem;
border-radius:0.3125rem;
z-index:1000;
border:none;
}
#colorHighlight{font-size:0.9rem;position:absolute;}
#back-to-top{position:fixed;bottom:0.1875rem;right:0.1875rem;}
#colorHighlight.fixed{position:fixed;bottom:0.1875rem;left:0.1875rem;}
#back-to-top.hidden,#colorHighlight.hidden{display:none;pointer-events:none;}
#back-to-top:focus,#colorHighlight:focus{opacity:1;}
#end-of-page{
background-color:#262626;
color:white;
text-align:center;
}
#end-of-page a,.menu-links a{
display:block;
font-weight:bold;
color:#E359E3;
}
.end-of-page-component{
flex:1;
margin:1.25rem;
min-width:200px;
}
#ending{
background-color:#3b3b3b;
color:#B0B0B0;
padding:0.3125rem;
text-align:center;
}
.menu-button {
background:#262626;
color:white;
padding:0.4rem;
border:none;
border-radius:0.5rem;
cursor:pointer;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.menu-button span{
width:1.25rem;
height:0.25rem;
background:white;
margin: 0.2rem 0;
}
.menu-links{
display:none;
border:1px solid black;
background-color:#262626;
color:white;
border-radius:0.375rem;
padding:0.5rem;
margin:0.5rem;
max-width:91%;
}
.menu-links.active{display:block;}
.menu-links h2{margin:1rem;}
.dropdown-menu{
position:absolute;
top:1.2rem;
left:1rem;
}
.logo-container{
position:absolute;
top:0.7rem;
right:1rem;
color:white;
padding:0 0.5rem;
border-radius:0.375rem;
font-weight:bold;
font-size:1.5rem;
display:flex;
gap:1rem;
align-items:center;
}
.logo-container img{
border:none;
width:2.5rem;
height:2.5rem;
}
.start-of-page{
background-color:#262626;
height:5rem;
}
#accessibility-link{
position:absolute;
left:-1000px;
background:#262626;
color:#E359E3;
padding:0.5rem;
font-weight:bold;
display:block;
text-align:center;
}
#accessibility-link:focus{top:15rem;left:1px;}
/*
@media(max-width:600px){
#settings_box1,#settings_box2{max-width:245px;}
#settings button{max-width:170px;}
}
@media(max-width:400px){
html{font-size:16px;}
body{font-size:18px;}
h1{font-size:2em;}
h2{font-size:1.6em;}
h3{font-size:1.3em;}
h4{font-size:1.1em;}
h5{font-size:1em;}
h6{font-size:0.9em;}
button{font-size:1rem;}
}
@media(prefers-reduced-motion:reduce){html{scroll-behavior:auto;}}
@media(max-width:260px){
.logo-container{right:0rem;}
.dropdown-menu{left:0.5rem;}
}
*/